.logoicon{
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.2rem;
  width: 100%;
  margin: 0 auto;
  padding:0.3rem;
}
.logoicon span{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.logoicon:hover{
    background-color: #dedede;
    border-radius: 0.2rem;
    
}
/* .logoicon span{
    font-size:2rem ;
} */