.page{
    background-image: url('../assets/Bg2.png');
    background-size:auto; 
    background-position: bottom 10% right 3%;
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,0.3);
    height: 100vh;
}