.errmsg {
    display:grid;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-left:15%;
    margin-right:15%;
    color: red;
}
.offscreen {
    position: absolute;
    left: -9999px;
}
.login_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../assets/Bg2.png');
    background-size:auto; 
    background-position: bottom 10% right 3%;
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,0.3);
    
}
.title_login{
    /* font-size: 3rem; */
    font-size: 1.5rem;
    display: flex;
    font-weight: 700;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-family: 'Courier New';
    display: inline-block;
    animation: moveIn 0.8s ease forwards;
}
.username{
    margin-bottom: 1rem;
}
.passcode{
    margin-bottom: 1rem;
}
.loginbtn{
    width: 100%;
    align-items: center;
}
.loginbtn input{
    background-color: black;
    color:white;
    border:none;
    border-radius: 0.4rem;
    width: 6rem;
}
.loginbtn input:hover{
    background-color: #dedede;
    color: black;
    border: 1px solid black;
}
.linker button{
    background-color: white;
    border: none;
    border-radius: 0px;
    margin-top: 1rem;
    
}