.reg_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../assets/Bg2.png');
    background-size:auto; 
    background-position: bottom 10% right 3%;
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,0.3);
}
.title_reg{
    font-size: 1.5rem;
    display: flex;
    font-weight: 700;
    justify-content: center;
    width: 100%;
    text-align:center;
    font-family: 'Courier New';
    display: inline-block;
    animation: moveIn 0.8s ease forwards;
}
.fname{
    display:flex;
    margin-bottom: 1rem;  
    width:100%; 
    justify-content:space-between;
    
}
.lname{
    display: flex;
    margin-bottom:1rem;
    width:100%; 
    justify-content:space-between;
}
.uname{
    display: flex;
    margin-bottom:1rem;
    width:100%; 
    justify-content: space-between;
}
.unamecol{
    display:grid;
}

.pw{
    display: flex;
    margin-bottom:1rem;
    width:100%; 
    justify-content: space-between;
}
.cpw{
    display: flex;
    margin-bottom:1rem;
    width:100%; 
    justify-content: space-between;
}

 
.errmsg {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 60%; */
    margin-left:15%;
    margin-right:15%;
    color: red;
}
.offscreen {
    position: absolute;
    left: -9999px;
}
.valid{
    display: grid;
    flex-direction: column;
    justify-content:flex-start;
    
}
.hide{
    display: none;
}
.instructions {
    display: grid;
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    flex-direction: column;
    position:relative;
    padding: 1rem;
    margin-top: 1rem;
}

.instructions > svg {
    margin-right: 0.25rem;
}
